{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "no-unused-expressions": ["error", {
      "allowTaggedTemplates": true
    }],
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": false,
    "react/jsx-one-expression-per-line": false
  }
}
